.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
label{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
}
.label2{
  margin-top: 20px;
  margin-bottom: 2px;
}
input{
  height: 50px;
  font-size: 40px;
}

textarea{
  padding: 10px;
  resize: none;
}
button{
  background-color: black;
  color: white;
  border: none;
  margin-top: 2%;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.5s;
}
button:hover{
  color: black;
  background-color: white;
  box-shadow: 0 0 5px black;
  transition: 0.5s;
}
#caracteres{
  text-align: right;
  margin-top: 0px;
  padding: 0px;

}