* {
  box-sizing: border-box;
}
body{
  margin: none;
}
.pg-completa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  align-items: center;
  width: 100%;
}
.topo{
  height: 90px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.componentes-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 4px;
  align-items: center;
  
}
.navbutton{
  background-color: transparent;
  font-size: 40px;
  color: white;
  border: none;
  display: none;
}
.componentes-topo p{
  border: 4px solid white;
  padding: 2px;
  width: 80px;
  font-size: 20px;
  font-weight: bold;

}
.componentes-topo ul li{
  display: inline;
  text-decoration: none;
  margin: 4px;
  font-size: 20px;
  border-radius: 5px;
  
}
.componentes-topo ul li .Home, .componentes-topo ul li .sobre,.componentes-topo ul li .objetivos, .componentes-topo ul li .Contatos {
  text-decoration: none;
  color: white;
  padding: 2px;
}
.conteudo-pg{
  height: 400px;
  padding: 20px;
  margin: auto;
  border: solid 1px rgba(0, 0, 0, 0.226);
  border-radius: 5px;
  text-align: center;
  flex-grow: 1;
  transition: 0.6s;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.418);
}
.conteudo-pg h1{
  margin-top: 40px;
}
.botoes-pg-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
  
}
.botoes-pg-index button{
  height: 40px;
  width: 200px;
  background-color: black;
  color: white;
  border-bottom: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.6s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
 
}
.conteudo-footer{
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 50px;
  margin-top: 50px;
}
.botoes-pg-index button:hover{
  background-color: rgba(0, 0, 0, 0.253);
  color: black;
  transition: 0.6s;
}
.conteudo-pg:hover{
box-shadow: -1px -4px 4px rgba(0, 0, 0, 0.418);
transition: 0.6s;
}
.componentes-topo ul li:hover{
  background-color: rgba(255, 255, 255, 0.253);
  color: black;
  transition: 0.6s;
  
}
@media (max-width: 700px){
  .botoes-pg-index{
    margin-top: 50px;
  }
  .conteudo-pg{
    width: 100%;
    margin: none;
  }
  .navbutton{
    display: block;
  }
  .topo{
    width: 100%;
  }
  .componentes-topo {
    padding: 0px;
  }
  .componentes-topo p{
    margin-left: 10px;

  }
  #navega{
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    visibility: hidden;
    overflow-y: hidden;
    background-color: black;
    transition: 0.6s;
    height: 0px;
  }
  #navega.active{
    visibility: visible;
    height: 200px;
    border-radius: 5px;
  }

  .componentes-topo nav ul li{
    display: block;
    text-align: center;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
    color: white;
    padding-top: 10px;
    border-radius: 0px;
    
  }
 
  .componentes-topo nav ul{
    padding-left: 0px;
    
  }
  .componentes-topo ul li .Home, .componentes-topo ul li .sobre,.componentes-topo ul li .objetivos, .componentes-topo ul li .Contatos {
    color: rgb(255, 255, 255);
    
    
  }
}
@media (max-width: 320px){
  .botoes-pg-index{
    margin-top: 30px;
  }
}