* {
  box-sizing: border-box;
  
}
body{
  margin: none;
  position: relative;
  
}


.topo{
  height: 90px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.componentes-topo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 4px;
  align-items: center;
  
}
.navbutton{
  background-color: transparent;
  font-size: 40px;
  color: white;
  border: none;
  display: none;
}
.componentes-topo p{
  border: 4px solid white;
  padding: 2px;
  width: 80px;
  font-size: 20px;
  font-weight: bold;

}
.componentes-topo ul li{
  display: inline;
  text-decoration: none;
  margin: 4px;
  font-size: 20px;
  border-radius: 5px;
  
}
.componentes-topo ul li .Home, .componentes-topo ul li .sobre,.componentes-topo ul li .objetivos, .componentes-topo ul li .Contatos {
  text-decoration: none;
  color: white;
  padding: 2px;

}
.conteudo-pg{
  width: 50%;
  margin: auto auto;
  padding: 40px;
  box-shadow: 0 0 10px;
}
#apresentacao{
  padding: 10px;
}
#topPage{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}
.conteudo-pg:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.418);
  transition: 0.6s;
  
  }

  .conteudo-pg h1{
    margin-top: 5px;
  }
.botoes-pg-index{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
  
}
.botoes-pg-index button{
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border-bottom: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.6s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
 
}
.conteudo-footer{
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 50px;
  position: absolute
}
.botoes-pg-index button:hover{
  background-color: rgba(0, 0, 0, 0.253);
  color: black;
  transition: 0.6s;
}

.componentes-topo ul li:hover{
  background-color: rgba(255, 255, 255, 0.253);
  color: black;
  transition: 0.6s;
  
}
#apresentacao{
  width: 55%;
  z-index: 100;
}

#apresentacao p{
  padding: 0px;
}
#objetivos{
  position: relative;
  top: 15px;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#paginaObjetivos{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#imgIndex-phone{
  display: none;
}
.sonhos{
  margin-top: 40px;
  padding: 20px ;
  text-align: center;
  
}
.sonhos hr{
  width: 98%;

}
.sonhos h2{
  letter-spacing: 7px;
}
.sonhos h3{
  color:rgb(124, 124, 124);
  text-decoration: none;
  font-weight: normal;
}
.conteudo-portfolio-trabalhos h3{
  letter-spacing: 7px;
}
.conteudo-portfolio-trabalhos div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#flashCards{
  width: 300px;
  background-color: rgb(0, 0, 0);
  color: white;
  
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  opacity: 1;
transition: 0.5s;

}
#flashCards img{
height: 300px;
width: 280px;
opacity: 1;
transition: 0.5s;
position: relative;
margin-top: -60px;
}
#flashCards img:hover{
  opacity: 0;
  transition: 0.5s;
  }
#flashCards hr{
  z-index: 200px;
  width: 280px;
  }
#flashCards:hover{
  
  transition: 0.5s;
}
.pg-completa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}
.img-curriculo img{
  border-radius: 100px;
}
.conteudo-contrate{
  
  display: flex;
  justify-content: space-between;
  top: 90px;
  width: 100%;

 
}
.conteudo-contrate div{
  width: 100%;
}
.conteudo-contrate div img{
object-fit: cover;
}
.conteudo-texto{
  margin: 20px auto;
}
.conteudo-texto h2, .conteudo-texto p {
  text-align: center;
}
.conteudo-texto h2{
  margin-bottom: 5px;
}
.conteudo-texto p{
  margin-top: 5px;
  color:rgb(124, 124, 124)
}
.conteudo-portfolio{

  display: flex;
justify-content: space-around;
padding: 05px;
flex-wrap: wrap;
width: 100%;
}
.conteudo-portfolio-texto{
  width: 40%;
}
.conteudo-portfolio-texto h3{
  text-align: center;

}
.flashsHome{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 20px auto;
  flex-wrap: wrap;
  border-top: 10px;
  flex-grow: 1;
}
.flashsHome-backend{
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin: 20px auto;
  flex-wrap: wrap;
  border-top: 10px;
  flex-grow: 1;
}
.flashsCurriculo{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  flex-wrap: wrap;
  border-top: 10px;
  flex-grow: 1;
}
.boxTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0073b1;
  padding: 10px;
  
  border-radius: 10px;
  margin-top: 0px;
}
.boxImg{
  width: 30px;
  height: 30px;
}

#linkeDin{
  display: none;
  transition: 0.6s;
  position: relative;
  margin: auto auto;
  width: 89%;
}
.linke{
  box-shadow: 0 0 2px;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  margin: auto auto;
  margin-top: 30px;
}
.linke h2{
  background-color: #0073b1;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 0px;
  
}
.linke hr{
width: 97%;
}
.linke p{
  padding: 10px;
  }

.linke button{
margin: 30px auto;
width: 99%;
border: none;
background-color: #0073b1;
padding: 10px;
color: white;
border-radius: 50px;
font-size: 15pt;
}
.curriculo, .pg-curriculo{
  padding: 20px;
}

.pg-curriculo{
text-align: center;
}
.pg-curriculo hr{
width: 98%;
}
#Whats{
  display: none;
  transition: 0.6s;
  position: relative;
  margin: auto auto;
  width: 89%;
}

.Whats{
  box-shadow: 0 0 2px;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  margin: auto auto;
  margin-top: 30px;
}
.Whats h2{
  background-color: #009688;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 0px;
}
.Whats hr{
width: 97%;
}
.Whats p{
  padding: 10px;
  }

.Whats button{
margin: 30px auto;
width: 99%;
border: none;
background-color: #009688;
padding: 10px;
color: white;
border-radius: 50px;
font-size: 15pt;
}
#Discord{
  display: none;
  transition: 0.6s;
  position: relative;
  margin: auto auto;
  width: 89%;
}

.Discord{
  box-shadow: 0 0 2px;
  border-radius: 15px;
  padding: 5px;
  position: relative;
  margin: auto auto;
  margin-top: 30px;
}
.Discord h2{
  background-color: #313a97;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0px 0px;
}
.Discord hr{
width: 97%;
}
.Discord p{
  padding: 10px;
  }

.Discord button{
margin: 30px auto;
width: 99%;
border: none;
background-color: #313a97;
padding: 10px;
color: white;
border-radius: 50px;
font-size: 15pt;
}

@media (max-width: 700px){
  #topPage{
    flex-direction: column;
  }
  #flashCards{
    border-radius: 10px;
    width: 98%;
  }
  #flashCards img{
    margin: auto auto;
    border-radius: 10px;
    width: 98%;
  }
  #imgIndex-phone{
    display: block;
  }
  .conteudo-portfolio-trabalhos div{
    margin: auto auto;
  }
  .flashsCurriculo{
    margin: auto auto;
    width: 98%;
  }
  .curriculo{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#apresentacao{
  width: 98%;
}
  .conteudo-contrate{
    align-items: center;
  }
  .conteudo-portfolio img{
  width: 98%;
  height: 450px;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
  
  }
  .conteudo-portfolio{
    flex-direction: column;
    align-items: center;
    
  }
  .conteudo-portfolio-texto{
    width: 95%;
  
  }
  #imgIndex{
    display: none;
  }
  .botoes-pg-index{
    margin-top: 50px;
  }
  .conteudo-pg{
    width: 100%;
    margin: none;
  }
  .navbutton{
    display: block;
    cursor: pointer;
  }
  .topo{
    width: 100%;
  }
  .componentes-topo {
    padding: 0px;
  }
  .componentes-topo p{
    margin-left: 10px;

  }
  #navega{
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    visibility: hidden;
    overflow-y: hidden;
    background-color: black;
    transition: 0.6s;
    z-index: 100;
  }
  #navega.active{
    visibility: visible;
    height: 200px;
    border-radius: 5px;
  }

  .componentes-topo nav ul li{
    display: block;
    text-align: center;
    padding-bottom: 5px;
    color: white;
    padding-top: 10px;
    border-radius: 0px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  }
 
  .componentes-topo nav ul{
    padding-left: 0px;
    
  }
  .componentes-topo ul li .Home, .componentes-topo ul li .sobre,.componentes-topo ul li .objetivos, .componentes-topo ul li .Contatos {
    color: rgb(255, 255, 255);
    
    
  }
  .flashsHome{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .botoes-pg-index{
    margin-top: 30px;
  }
#objetivos{
    display: flex;
    flex-direction: column;
}
.linke{

  width: 98%;
  margin-bottom: 40px;
 
}
}
@media (max-width: 320px){
  .botoes-pg-index{
    margin-top: 10px;
  }
}